services:
  app:
    image: concilia-core:${TAG_PROMOVIDA}
    container_name: concilia-app-${ENV_NAME}
    pull_policy: never
    ports:
      - "${APP_PORT:-8000}:8000"
    environment:
      - ENV_NAME=${ENV_NAME}
      - APP_VERSION=${TAG_PROMOVIDA}
      - DB_HOST=db
      - DB_NAME=concilia
      - DB_USER=postgres
      - DB_PASS=postgres
    networks:
      - concilia-net
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: db-${ENV_NAME}
    environment:
      - POSTGRES_DB=concilia
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - concilia-net

networks:
  concilia-net:
    driver: bridge